<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="purchase">
	<insert id="updateBasket" parameterType="productVO">
		INSERT INTO shopBasket (USERID,PRODUCTID,PRODUCTPRICE,PRODUCTIMAGESRC,basketRegDate)
		VALUES (#{productViewPoint},#{productID},#{productPrice},#{productImageSrc},#{productChar})
	</insert>
	<update id="insertSubGrade" parameterType="customerVO">
	UPDATE customer 
			SET subGrade = #{subGrade},
				subStartDate = SYSDATE,
				subRemainDate = '30'
	 WHERE userID = #{userID}
	</update>
	<select id="selectBasket" parameterType="shopBasketVO" resultType="shopBasketVO">
		SELECT * FROM shopBasket WHERE userID = #{userID}
	</select>
	<delete id="deleteBasket" parameterType="shopBasketVO">
		DELETE FROM shopBasket WHERE userID=#{userID} AND productID=#{productID} AND basketRegDate=#{basketRegDate}

	</delete>
	<delete id="confirmPayDelete" parameterType="shopBasketVO">
		DELETE FROM shopBasket WHERE userID=#{userID}
	</delete>
	
</mapper>